<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramez.shopp">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.ramez.shopp.RootApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_lunch_512"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ProjectTheme">
        <activity
            android:name="com.ramez.shopp.Activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.MapsActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapKey" />

        <activity
            android:name="com.ramez.shopp.Activities.AddNewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.RateProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.RegisterLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.ChooseNearCity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.ChooseCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.ChangeLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ramez.shopp.Activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.ramez.shopp.Activities.ConfirmPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramez.shopp.Activities.ChangePassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ramez.shopp.Activities.ConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.ramez.shopp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>