<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramez.shopp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".RootApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_lunch_512"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ProjectTheme">
        <activity android:name=".Activities.NoBalanceActivity"></activity>
        <activity android:name=".Activities.AddBalanceActivity" />
        <activity android:name=".Activities.AddCardActivity" />
        <activity android:name=".Activities.InvoiceInfoActivity" />
        <activity android:name=".Activities.ContactSupportActivity" />
        <activity android:name=".Activities.ChangeLangCurrencyActivity" />
        <activity android:name=".Activities.ChangeCityBranchActivity" />
        <activity
            android:name=".Activities.MapsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapKey" />

        <activity
            android:name=".Activities.AddNewAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RateProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.RegisterLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ChooseNearCity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ChooseCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ChangeLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Activities.ConfirmPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChangePassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>